@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
}

body {
    background-color: #f4f6f6;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    height: 100vh;
    padding-bottom: 60px; 
}

#header_container {
    position:relative;
    top: 0;
    width: 100%;
    height: 60px; 
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

#footer_container {
    height: 60px; 
    background-color: #fff; 
    position: relative; 
    width: 100%; 
    margin-top: auto; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    padding: 0;
}

.EmailSent {
    position: absolute;
    left: 370px;
    top: 189px;
    width: 700px;
    height: 264px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 66px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.EmailSent p {
    position: absolute;
    left: 50px;
    top: 53px;
    width: 600px;
    height: 40px;
    font-size: 16px;
    font-family: 'Commissioner', sans-serif; 
    font-weight: normal;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.EmailSent input {
    position: absolute;
    left: 260px;
    top: 165px;
    width: 180px;
    height: 46px;
    background-color: rgba(59, 147, 167, 1);
    border-radius: 19px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; 
    border: none;
    color: #f4f6f6;
}

.EmailSent input[type="submit"]:hover {
    background-color: #327b8c;
    transform: scale(1.05); 
}