
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Commissioner', sans-serif; }

body { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
    background-color: #f4f6f6; 
    max-width: 4000px; 
}

#header_container, #footer_container { width: 100%; }

.forgotPassword { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 600px; 
    padding: 20px; 
    background-color: #ffffff; 
    border-radius: 45px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px 0; 
    text-align: center; 
}

.forgotPassword p { 
    font-size: 16px; 
    color: #333; 
    margin-bottom: 20px; 
    text-align: left; 
}

.forgotPassword label { 
    font-weight: bold; 
    color: #333; 
    margin-bottom: 2px; 
    display: block; 
    font-size: 14px; 
    line-height: 1.2; 
    text-align: left; 
    padding-left: 91px; 
    
}

.forgotPassword input[type="email"] { 
    width: 70%; 
    padding: 12px; 
    margin: 10px 0; 
    border: 1.5px solid #000; 
    border-radius: 10px; 
    font-size: 16px; 
}

.forgotPassword input[type="submit"] { 
    width: 40%; 
    height: 45px; 
    padding: 10px; 
    background-color: #3b93a7;
    color: #ffffff; 
    border: none; 
    border-radius: 25px;
    cursor: pointer; 
    font-size: 16px; 
    font-weight: 500; 
    transition: background-color 0.3s ease, transform 0.2s; 

.forgotPassword input[type="submit"]:hover { 
    background-color: #27788a;
}
